html {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}
.side {
    grid-area: sidebar;
}
.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}

h1 {
    font-size: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links {
    padding: 10px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    border-radius: 100%;
}

.content {
    height: 100%;
}

.intro {
    height: 500px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.intro > * {
    padding-bottom: 30px;
}           

li {
    padding: 10px;
}

p {
    padding-left: 10%;
    padding-right: 10%;
}

.intro {
    padding-bottom: 20px;
}

.social {
    padding-bottom: 0px !important;
    padding-top: 50px;
}

input {
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    overflow-y: hidden;
    resize: none;
    margin-bottom: 10px;
}

textarea {
    margin-left: 25%;
    margin-right: 25%;
    background-color: whitesmoke;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    overflow-y: hidden;
    padding: 1.5rem 0;
    resize: none;
}

hr.sectionbreak {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-left: 10%;
    margin-right: 10%;
}

#hr-nav {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

form > div {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
    font-size: .9rem;
}

.btn {
    margin-top: 30px;
    margin-left: 42%;
    padding-top: 15px;
    margin-right: 42%;
    padding-bottom: 15px;
    background-color: transparent;
    color: black;
    border: 2px solid #ced4da;
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 500px) {
    
}